#root {
  /* max-width: 1280px; */
 margin: 0 auto;
padding: 2rem;
text-align: center;
background: url(https://t.ctcdn.com.br/0KxiXzcsK4AxDt0Ty0a1OlnyMXs=/0x171:1278x890/1200x675/smart/i379813.jpeg);
}

